/**
 *	Copyright (juin 2015)
 *	Auteur: BENOIST Thomas, BISUTTI Adrien, DESPLEBAIN Tanguy, LAURET Karl
 *
 *	benoist.thomas@hotmail.fr
 *	biscui_86@hotmail.fr
 *	tanguy.desplebain@gmail.com
 *	lauret.karl@hotmail.fr
 *
 *	Ce logiciel est un programme informatique servant à modéliser des
 *	structures 3D voxellisées.
 *
 *	Ce logiciel est régi par la licence CeCILL soumise au droit français et
 *	respectant les principes de diffusion des logiciels libres. Vous pouvez
 *	utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *	de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
 *	sur le site "http://www.cecill.info".
 *
 *	En contrepartie de l'accessibilité au code source et des droits de copie,
 *	de modification et de redistribution accordés par cette licence, il n'est
 *	offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
 *	seule une responsabilité restreinte pèse sur l'auteur du programme,  le
 *	titulaire des droits patrimoniaux et les concédants successifs.
 *
 *	A cet égard  l'attention de l'utilisateur est attirée sur les risques
 *	associés au chargement,  à l'utilisation,  à la modification et/ou au
 *	développement et à la reproduction du logiciel par l'utilisateur étant
 *	donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *	manipuler et qui le réserve donc à des développeurs et des professionnels
 *	avertis possédant  des  connaissances  informatiques approfondies.  Les
 *	utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
 *	logiciel à leurs besoins dans des conditions permettant d'assurer la
 *	sécurité de leurs systèmes et ou de leurs données et, plus généralement,
 *	à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.
 *
 *	Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *	pris connaissance de la licence CeCILL, et que vous en avez accepté les
 *	termes
 */

/**
 * style.css
 *
 */



	  /***************/
	 /*** General ***/
	/***************/


body {
	background-color: #ddd;
	font-family: arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline: none;
}



.header, .footer {
	position: absolute;
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}



.header {
	height: 25px;
	top: 0%;
	z-index: 100; /* grand => proche, petit => loin */
	border-bottom: 1px solid #B2B2B2;
}



.footer {
	height: 25px;
	bottom: 0%;
	border-top: 1px solid #B2B2B2;
}



.footer p {
	margin: 0;
	padding: 2px 5px; /* haut/bas puis droite/gauche */
}



	  /*****************/
	 /*** State bar ***/
	/*****************/



#stateBar {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 90;
}
