/* I - la div englobante en haut à gauche */
#meridianView{
box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
position: absolute; 
width: 25%; 
height: 50%; 
left: 0; 
top: 4%; 
background-color: #000000; 
}
/*la div du I : à gauche*/
#meridianParam {
	border:1px solid #808080; 
	position: absolute; 
	width: 20%; 
	height: 80%; 
	left: 0; 
	top: 0 ;
}
/*la div du I : en bas*/
#meridianOption {
	border:1px solid #808080; 
	position: absolute; 
	width: 100%; 
	height: 20%; 
	left: 0; 
	top: 80%; /*bottom*/
	
}

/*la div du I : à droite*/
#meridianCanvas {
	border:1px solid #808080; 
	position: absolute; 
	width: 80%; 
	height: 80%; 
	left: 20%; 
	top: 0;
}

/*La deuxiémme couche englobante en bas à gauche II*/

#revolutionView{
box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
position: absolute; 
width: 25%; 
height: 50%; 
left: 0; 
top: 50%; 
background-color: #000000; 
}
/*la div du II : à gauche*/
#revolutionParam{
border:1px solid #808080; 
position: absolute; 
width: 20%; 
height: 80%; 
left: 0; 
top: 0;
}
/*la div du II : en bas*/
#revolutionOption{
border:1px solid #808080; 
position: absolute; 
width: 100%; 
height: 20%; 
left: 0; 
top: 80%;
}
/*la div du II : à droite*/
#revolutionCanvas{
border:1px solid #808080; 
position: absolute; 
width: 80%; 
height: 80%; 
left: 20%; 
top: 0;
}

/*La troisiémme couche englobante à droite III*/

#revolutionCurve{
box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
position: absolute; 
width: 75%; 
height: 96%; 
left: 25%; 
top: 4%; 
background-color:#000000;
}

/*la div du III : EN BAS*/
#surfaceOption{
border:1px solid #808080; 
position: absolute; 
width: 100%;
 height: 10%; 
 left: 0px; 
 top: 90%;
}

/*la div du III : à droite*/
#surfaceParam{
border:1px solid #808080; 
position: absolute;
 width: 20%;
 height: 90%;
 left: 80%;
 top: 0px;
}
/*la div du III : à gauche*/
#surfaceView{
border:1px solid #808080; 
position: absolute;
 width: 80%;
 height: 90%; 
 left: 0px; 
 top: 0px;
}



