/* LICENSE ********************************************************************/


/*
 * TODO
 */


/* CODE ***********************************************************************/


#workspace,
#workspace div,
#workspace canvas {
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
	position: absolute;
}


#workspace {
	top : 25px;
	left : 0;
	width : 100%;
	height : calc(100% - 25px - 25px);
}


#curvesView {
	top : 0;
	left : 0;
	width : 35%;
	height : 100%;
	border-right : 1px solid gray;
}


#curvesView .optionPanel > * {
	display : inline-block;
}


.paramPanel {
	top : 0;
	left : 0;
	width : 30%;
	height : calc(100% - 42px);
	background-color : #DDD;
	border-right : 1px solid gray;
}


.optionPanel {
	bottom : 0;
	left : 0;
	width : 100%;
	height : 42px;
	background-color : #DDD;
	border-top : 1px solid gray;
}



.paramPanel div.wrapper,
.optionPanel div.wrapper {
	position: static !important;
}


#curvesView canvas, #meridianCanvas2, #revolCanvas2 {
	top : 0;
	right : 0;
	width : 70%;
	height : calc(100% - 42px);
	background-color : white;
}


	/*** Meridian ***/


#meridianView {
	top : 0;
	left : 0;
	width : 100%;
	height : 50%;
	border-bottom : 1px solid gray;
}


	/*** Revolution ***/


#revolView {
	bottom : 0;
	left : 0;
	width : 100%;
	height : 50%;
}


	/*** Surface ***/


#surfaceView {
	top : 0;
	right : 0;
	width : 65%;
	height : 100%;
}


#surfaceView .paramPanel {
	right : 0;
	left : auto;
	width : 20%;
	height : calc(100% - 42px);
	border-right : none;
	border-left : 1px solid gray;
}


#surfaceView .optionPanel {
	width : 100%;
	height : 42px;
}


#surfaceCanvas {
	top : 0;
	left : 0;
	width : 80%;
	height : calc(100% - 42px);
	background-color : black;
}


	/*** Parameters ***/


#revolParam #meridianParam {
	position : relative;
}


#surfaceView .doubleSliders {
	margin : -0.5em 5% 0.5em 5%;
	position : relative;
}


.doubleSliders .ui-slider-handle {
	width : 0.1em;
	height : 1.2em;
	margin-left : 0px;
}
