/* LICENSE ********************************************************************/


/*
 * TODO
 */


/* CODE ***********************************************************************/


#surfaceView .paramPanel button {
    width: 90%;
    margin: 0.2em 5%;
}


#surfaceView .paramPanel label.title {
	display: block;
	text-align: center;
	margin-top: 0.7em;
}


#surfaceView .paramPanel #connexityChoiceParam {
	margin-bottom: 0.5em;
}


#surfaceView .paramPanel #connexityChoiceParam,
#surfaceView .paramPanel #voxelRadiusParam {
    text-align: center;
}


#surfaceView .paramPanel #voxelRadius {
	width: 3em;
}


#surfaceView .optionPanel input[type=text],
#surfaceView .optionPanel input[type=number],
#surfaceView .paramPanel input[type=text],
#surfaceView .paramPanel input[type=number] {
    margin: 0;
}


#surfaceView .optionPanel input[type=text],
#surfaceView .optionPanel input[type=number] {
	width: 3em;
}


#surfaceView .optionPanel select {
	width: 4em;
}


#surfaceParam input[type=text] {
	width: calc(50% - 1em);
	margin: 0.1em 0;
}


#surfaceOption p.multiLabel {
    display: inline;
    margin: 0.2em;
    padding: 0;
}


#surfaceOption div.wrapper {
    display: inline-block;
    margin: 0 0.2em;
}


#surfaceView .paramPanel .ui-slider-range {
    position: absolute;
}


#surfaceView .paramPanel .doubleSliders {
    position: relative;
}


#surfaceView .doubleSliders {
	margin: -0.5em 5% 0.5em 5%;
	position: relative;
}


.popupMessage {
	background: rgba(192, 192, 192, 0.5) url("loading64.gif") no-repeat center;
}


.popupMessage p {
	position: absolute;
	top: calc(50% + 32px);
	width: 100%;
	color: white;
	text-shadow: 0px 0px 5px black;
	font-family: "Liberation Sans", "Arial", sans-serif;
	font-size: 3.5em;
	text-align: center;
	margin: 0;
}


#abortMessage p {
    text-shadow: 0px 0px 5px #C00;
}
