/* LICENSE ********************************************************************/


/*
 * TODO
 */


/* CODE ***********************************************************************/


#surfaceView .paramPanel button {
    width: 90%;
    margin: 0.2em 5%;
}


#surfaceView .paramPanel input {
    margin: 0;
}


#surfaceView .paramPanel label {
	display: block;
	text-align: center;
	margin-top: 0.7em;
}


#surfaceView .optionPanel input[type=text],
#surfaceView .optionPanel input[type=number] {
	width : 3em;
}


#surfaceView .optionPanel select {
	width : 4em;
}


#surfaceParam input {
	width : calc((100% - 2em) / 2);
}


#surfaceOption p.multiLabel {
    display: inline;
    margin: 0.2em;
    padding: 0;
}


#surfaceOption div.wrapper {
    display: inline-block;
    margin: 0 0.2em;
}


#surfaceView .paramPanel .ui-slider-range {
    position: absolute;
}


#surfaceView .paramPanel .doubleSliders {
    position: relative;
}


#surfaceView .doubleSliders {
	margin : -0.5em 5% 0.5em 5%;
	position : relative;
}
